#menu {
    position: fixed;
    top: 10px;
    left: 10px;
}

.myfont{
    font-family: 楷体;
    font-size: 28px;
    font-weight: 900;
    text-align: justify;/*使行尾对齐*/
}

.pre-line{
    white-space: pre-line;
}
